*{padding:0;
    margin:0; 
  }
  body{
      padding: 0px 90px
  }
  nav{
      display: flex;
      justify-content: space-between;
      padding:20px 40px;
      border: 1px solid black;
      
  }
  ul{
      display: flex;
      gap: 40px;
      list-style-type: none;
  }
  a{
      text-decoration: none;
      color: black;
  }
  .hero{
      display: flex;
      gap:20%;
      border: 1px solid black;
      padding: 40px;
      justify-content: space-between;
  }
 #arrow-btn{
      color: purple;
 }
 #hire-me{
      color: white;
      background-color: purple;
      border-radius: 30px;
      padding: 10px 20px;
 }
 #download-resume{
      color: purple;
      padding-left: 20px;
 }
  #coloured-font{
      color: palevioletred;
  }
  #hero-image{
      position: absolute;
      top: 70px;
      right:22px;
      
  }
  #img{
      width:100%;
      height:auto;
     
}
  .circle{
      width:300px;
      height:300px;
      border:transparent;
      border-radius: 50%;
      background-color: pink;
      position: relative;
      
  
}
  .about-me{
      display: flex;
      justify-content: space-around;
      padding:50px;
      gap:10%;
      border: 1px solid palevioletred;
      background: palevioletred;
      color: white;
      align-content: center;
      height:300px
}
  #about-me-left{
      color: white;
}
  #about-me-left > h4{
      font-size: small;
      margin: 10px;
}
  #about-me-left > button {
      margin-top: 20px;
}
  #about-me-right{
     color: white;
     padding: 20px;
}
.skills{
      background-color: white;
      padding:20px;
      width:auto;
      height: 400px;
      border: 1px solid black;
      text-align: center;
}

.box{
      display: flex;
      background-color: white;
      padding:20px 20px;
      width: auto;
      height: 300px;
      border: 1px solid beige;
      justify-content:space-between;
      text-align:justify;
      align-items: center;
        
}

#pinky-card{
      width:250px;
      height: 150px;
      border: 1px solid black;
      background-color: palevioletred;
      padding: 40px;
        
  }
#first-card{
      width:250px;
      height: 150px;
      background-color: white;
      padding: 40px;
      border: 1px solid black;
  }
#second-card{
      width:250px;
      height: 150px;
      background-color: white;
      padding: 40px;
      border: 1px solid black;
  }
#pinky-button{
      background-color: palevioletred;
      color: white;
      font-size: 12px;
      margin-top: 20px;
      border: 2px solid transparent;

  }
#button-one{
      background-color: white;
      color: blue;
      border: 2px solid transparent;
      font-size: 12px;
      margin-top: 20px;
}
#button-two{
      background-color: white;
      color: blue;
      border: 2px solid transparent;
      font-size: 12px;
      margin-top: 20px;
}
.footer{
      width:auto;
      border: 1px solid palevioletred;
      height: 100px;
      text-align: center;
      padding:20px 0px;
      background-color: palevioletred;
      color: white;


}
#footer-head{
      margin-bottom: 15px;
}

    

    


  
  
  